body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
}

.card {
    background: white;
    padding: 16px;
    border-radius: 10px;
    margin-top: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.06);
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tab {
    background: white;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #ddd;
}

.btn {
    background: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-ghost {
    background: transparent;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.muted {
    color: #666;
    font-size: 14px;
}

/* --- TOP MENU --- */
.topbar {
    width: 100%;
    padding: 15px 15px;
    background: #003366;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;       /* запрещаем перенос */
    gap: 10px;               /* добавляем расстояние */
    box-sizing: border-box;
}


.logo {
    font-size: 22px;
    font-weight: bold;
}

.login-btn {
    padding: 8px 16px;
    background: white;
    color: #003366;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.login-btn:hover {
    background: #e6e6e6;
}

/* USER MENU */
.user-menu {
    position: relative;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    background: #ffffff55;
    border: 2px solid white;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.username {
    max-width: 120px;   /* ограничиваем длину */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* ставит "..." если слишком длинное имя */
}

/* DROPDOWN */
.dropdown {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    transform: translateX(-10px);
    background: white;
    color: black;
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0 2px 10px #0003;
    min-width: 160px;
}

.dropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    background: #f1f1f1;
}
